$root: '.CurrentGameDetails';

#{$root} {
  .title {
    font-size: 56px;
    margin-bottom: 32;
  }
  .score {
    font-size: 80px;
    margin-bottom: 16px;
  }
  .high-score {
    font-size: 40px;
    margin-bottom: 56px;
  }
  .Button {
    margin: 0 auto;
  }
}