$root: '.Home';

#{$root} {
  max-width: 622px;
  margin: 0 auto;
  &-logoSection {
    padding-top: calc(124 / 1080 * 100%);
    margin-bottom: calc(60 / 1080 * 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 234px;
      height: calc(156 / 1080 * 100%);
      margin-bottom: calc(28 / 1080 * 100%);
    }
    h1 {
      font-size: 80px;
      align-self: flex-start;
    }
    .tag-line {
      width: 100%;
      text-align: center;
      font-size: 26px;
      position: relative;
      &::before,
      &::after {
        content: '';
        width: 125px;
        height: 2px;
        background: #ff5155;
        position: absolute;
        top: 50%;
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
    }
  }
  &-inputSection {
    display: flex;
    flex-direction: column;
    .TextInput {
      margin-bottom: 15px;
    }
    .SelectInput {
      margin-bottom: calc(196 / 1080 * 100%);
    }
  }
}

@media only screen and (max-width: 767px) {
  #{$root} {
    padding: 0 16px;
    &-logoSection {
      padding-top: calc(80 / 1080 * 100%);
      margin-bottom: 40px;
      .logo {
        width: 150px;
        margin-bottom: 20px;
      }
      h1 {
        font-size: 40px;
        margin-bottom: 16px;
        align-self: center;
      }
      .tag-line {
        font-size: 20px;
        &::before,
        &::after {
          content: '';
          width: 80px;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  #{$root} {
    &-logoSection {
      .tag-line {
        font-size: 16px;
        &::before,
        &::after {
          width: 48px;
        }
      }
    }
  }
}
