$root: '.TextInput';

#{$root} {
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #97a4a7;
  font-size: 24px;
  padding: 0 24px;

  &:focus {
    outline: none;
  }
}

@media only screen and (max-width: 767px) {
  #{$root} {
    height: 40px;
    font-size: 20px;
    padding: 0 20px;
  }
}
