$root: '.ScoreBoard';

#{$root} {
  border: 3px solid #ff5155;
  border-radius: 15px;
  padding: 32px;
  width: 320px;
  height: 480px;
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
  }
  .score-container {
    height: 376px;
    overflow: scroll;
    .score {
      font-size: 24px;
      margin-bottom: 16px;
      & > div {
        font-size: 12px;
        margin-bottom: 6px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #{$root} {
    display: none;
  }
}
