$root: '.CountdownCircle';

#{$root} {
  transform: scaleX(-1);
  &-circle {
    fill: none;
    stroke: none;
  }

  &-path {
    &__elapsed {
      stroke-width: 7px;
      stroke: rgba(160, 159, 159, 0.739);
    }
    &__remaining {
      stroke-width: 7px;
      stroke-linecap: round;
      transform: rotate(90deg);
      transform-origin: center;
      transition: 1s linear all;
      stroke: rgb(214, 57, 89);
    }
  }
}
